.alert-debug {
  background-color: #fff;
  border-color: #d6e9c6;
  color: #000; }

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48; }

section.logo {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-size: 96px;
  font-size: 6rem; }

h1, h2, h3 {
  text-align: center;
  padding: 10px 0; }

/*.logo span {
  display: inline-block;
  color: 000;
  font-family: 'Fredoka One', sans-serif;
  text-shadow:  0.25rem -0.25rem rgba(magenta, 0.75),
               -0.25rem -0.25rem rgba(cyan, 0.75),
                0        0.5rem  rgba(yellow, 0.75);
}*/
/* Space out content a bit */
body {
  /*padding-top: 1.5rem;*/
  padding-bottom: 48px;
  padding-bottom: 3rem; }

/* Everything but the jumbotron gets side spacing for mobile first views */
.marketing,
.top_asset,
.footer {
  padding-right: 16px;
  padding-right: 1rem;
  padding-left: 16px;
  padding-left: 1rem; }

/* Custom page footer */
.footer {
  padding-top: 24px;
  padding-top: 1.5rem;
  color: #777;
  border-top: 0.8px solid #e5e5e5;
  border-top: .05rem solid #e5e5e5; }

/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 46rem; } }

.container-narrow > hr {
  margin: 32px 0;
  margin: 2rem 0; }

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  margin-top: 32px;
  margin-top: 2rem;
  border-bottom: 0.8px solid #e5e5e5;
  border-bottom: .05rem solid #e5e5e5; }

.jumbotron .btn {
  padding: 12px 24px;
  padding: .75rem 1.5rem;
  font-size: 24px;
  font-size: 1.5rem; }

/* Supporting marketing content */
.marketing {
  margin: 48px 0;
  margin: 3rem 0; }

.marketing p + h4 {
  margin-top: 24px;
  margin-top: 1.5rem; }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .top_asset,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0; }
  /* Space out the masthead */
  .header,
  .m-b-1 {
    margin-bottom: 2rem; }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0; } }

[hidden][style="display: block;"] {
  display: block !important; }
