
# PostgreSQL
POSTGRES_PASSWORD=mysecretpass
POSTGRES_USER=postgresuser

# Domain name, used by caddy
DOMAIN_NAME=10token.info

# General settings
DJANGO_READ_DOT_ENV_FILE=True
DJANGO_ADMIN_URL=
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=iQ|SV+GBTt9T,j#)Bj&LPr=7&-y6,>s5<S]@Z-(Tc>W?FX^f97
DJANGO_ALLOWED_HOSTS=.10token.info

# AWS Settings
DJANGO_AWS_ACCESS_KEY_ID=
DJANGO_AWS_SECRET_ACCESS_KEY=
DJANGO_AWS_STORAGE_BUCKET_NAME=

# Used with email
DJANGO_MAILGUN_API_KEY=key-c75599e*****
DJANGO_SERVER_EMAIL=noreply@10token.info
MAILGUN_SENDER_DOMAIN=sandbox******.mailgun.org

# Security! Better to use DNS for this task, but you can use redirect
DJANGO_SECURE_SSL_REDIRECT=False

# django-allauth
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True


COMPRESS_ENABLED=
