{% block content %}{% endblock %}

{% block pagination %}
  {% if is_paginated %}
      <div class="pagination">
          <span class="page-links">
              {% if assets_list.has_previous %}
                  <a href="{{ request.path }}?page={{ assets_list.previous_page_number }}">previous</a>
              {% endif %}
              <span class="page-current">
                  Page {{ assets_list.number }} of {{ assets_list.paginator.num_pages }}.
              </span>
              {% if assets_list.has_next %}
                  <a href="{{ request.path }}?page={{ assets_list.next_page_number }}">next</a>
              {% endif %}
          </span>
      </div>
  {% endif %}
{% endblock %}
