{% extends 'asset/base.html' %}

{% block content %}
    <div class="asset">

        {% if asset.published_date %}
            <div class="date">
                {{ asset.published_date }}
            </div>
        {% endif %}

        <h1>{{ asset.name }}</h1>
        <p>{{ asset.description|linebreaksbr }}</p>

        <a class="btn btn-default" href="{% url 'asset_edit' pk=asset.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <a class="btn btn-default" href="{% url 'asset_edit' pk=asset.pk %}"><span class="glyphicon glyphicon-remove"></span></a>

    </div>
{% endblock %}
