{% extends "base.html" %}

{% block content %}
    <div class="asset">

        <!-- {% if asset.created_date %}
            <div class="date">
                {{ asset.created_date }}
            </div>
        {% endif %} -->

        <h1>{{ asset.name }}</h1>
        <p>{{ asset.description|linebreaksbr }}</p>
        <p>Asset id: <a href="https://wavesexplorer.com/tx/{{ asset.token_id }}">{{ asset.token_id }}</a></p>
        <p>Issuer id: <a href="https://wavesexplorer.com/address/{{ asset.sender_id }}">{{ asset.sender_id }}</a></p>
        <p>amount: {{ asset.amount }}</p>
        <p>reissuable: {{ asset.reissuable }}</p>
        <p>{{ asset.created_date }}</p>

        <br />
        <div id="disqus_thread"></div>
        <script>

          var disqus_config = function () {
          this.page.url = 'https://10token.info/asset/token/{{ asset.id }}';
          this.page.identifier = '{{ asset.token_id }}';
          };

          (function() { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');
          s.src = 'https://10token.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
          })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>



    </div>
{% endblock %}
