// project specific CSS goes here

////////////////////////////////
		//Variables//
////////////////////////////////

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

////////////////////////////////
		//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}

////////////////////////////////
		//LOGO//
////////////////////////////////

section.logo {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-size: 6rem;
}


h1, h2, h3 {
  text-align: center;
  padding: 10px 0;
}

/*.logo span {
  display: inline-block;
  color: 000;
  font-family: 'Fredoka One', sans-serif;
  text-shadow:  0.25rem -0.25rem rgba(magenta, 0.75),
               -0.25rem -0.25rem rgba(cyan, 0.75),
                0        0.5rem  rgba(yellow, 0.75);
}*/


////////////////////////////////
		//TEMPLATE//
////////////////////////////////


/* Space out content a bit */
 body {
   /*padding-top: 1.5rem;*/
   padding-bottom: 3rem;
 }

 /* Everything but the jumbotron gets side spacing for mobile first views */
 .marketing,
 .top_asset,
 .footer {
   padding-right: 1rem;
   padding-left: 1rem;
 }

 /* Custom page footer */
 .footer {
   padding-top: 1.5rem;
   color: #777;
   border-top: .05rem solid #e5e5e5;
 }

 /* Customize container */
 @media (min-width: 48em) {
   .container {
     max-width: 46rem;
   }
 }
 .container-narrow > hr {
   margin: 2rem 0;
 }

 /* Main marketing message and sign up button */
 .jumbotron {
   text-align: center;
   margin-top: 2rem;
   border-bottom: .05rem solid #e5e5e5;
 }
 .jumbotron .btn {
   padding: .75rem 1.5rem;
   font-size: 1.5rem;
 }

 /* Supporting marketing content */
 .marketing {
   margin: 3rem 0;
 }
 .marketing p + h4 {
   margin-top: 1.5rem;
 }

 /* Responsive: Portrait tablets and up */
 @media screen and (min-width: 48em) {
   /* Remove the padding we set earlier */
   .header,
   .top_asset,
   .marketing,
   .footer {
     padding-right: 0;
     padding-left: 0;
   }
   /* Space out the masthead */
   .header,
   .m-b-1 {
     margin-bottom: 2rem;
   }
   /* Remove the bottom border on the jumbotron for visual effect */
   .jumbotron {
     border-bottom: 0;
   }
 }


////////////////////////////////
		//Django Toolbar//
////////////////////////////////

// Display django-debug-toolbar.
// See https://github.com/django-debug-toolbar/django-debug-toolbar/issues/742
// and https://github.com/pydanny/cookiecutter-django/issues/317

[hidden][style="display: block;"] {
  display: block !important;
}
